.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 45px;
  width: 100%;
  height: 100vh;
  animation: appear 1s ease-in-out;
}

.presentation__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.presentation__contLi {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  list-style: none;
  color: #D1D1D1;
  font-size: 45px;
  font-weight: 100;
  margin-top: 10px;
}

.presentation__contLi>li {
  cursor: pointer;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #D1D1D1;
}

.contact>h2 {
  width: 100%;
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  border-bottom: 4px solid #D1D1D1;
  padding: 10px;
}

.contact>p {
  font-size: 20px;
}

.contact__links {
  display: flex;
  gap: 20px;
  align-items: center;
}