.bubble {
  width: 110px;
  height: 110px;
  border-radius: 100%;
  animation: appear 1s ease-in;

  pointer-events: none;
}

@keyframes bubbleRoutine {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(15px);
  }
}

@media screen and (max-width:440px) {
  .bubble {
    width: 80px;
    height: 80px;
  }
}