@font-face {
  font-family: 'league spartan';
  src: url('./fonts/LeagueSpartan-VariableFont_wght.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'league spartan';
}


body {
  width: 100%;
  height: 100vh;
  background-color: #303030;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes appearToTop {
  from {
    transform: translateY(300px);
  }

  to {
    transform: translate(0);
  }
}

@keyframes appearToBottom {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translate();
  }
}

@keyframes disappearSection {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}